body{
background-color: yellow;
}
p{
   background-color: yellow;
   font-size: 24px;
   
}
.aku{
   margin: 20px;
   margin-top: 30px;
   text-align: center;
   background-color: slateblue;
   display: inline-block;
} 
.akuz {
    text-align: center;
}   
